@import "../globalSass/colors";
.navbar{
  //height: 10vh;
  //z-index: 2;
  z-index: 1000;
  padding:1.5rem 7%;
  background:$color1;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

.logo{
  color:$color4;
  font-size: 2.5rem;
}
.navbar ul li{
  margin:0 1rem;
}

.navbar ul li a{
  font-size: 2rem;
  color:$color4;
}

.navbar ul li a:hover{
  color:$color5;
}
.line{
  width: 3px;
  height: 20px;
  background-color: $color4;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
  width: auto;
}
.navbar .navbar-toggler-icon {
  width: 30px;
  color: $color4;
  margin-top: 5px;
}
.navbar-toggler-icon {
  background-image: url("./static/burger.svg") !important;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-collapse.icons.collapse.show {
  background-color: rgba(255, 255, 255, 0.139);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .navbar-nav {
    gap: 10px;
  }
}